/* Empty. Add your own CSS if you like */

body{
  background: #f2f2f2;
}

.button-center{
  width: 100%;
  margin-right: 16px;
}

.color-demo {
float: right;
  width: 20px;
  height: 20px;
  position: relative;
  border-width: 0px;
  border-style: solid;
  border-radius: 4px;
  background: #eee;
  font-size: 10px;
}
